
.hidden-br {
    display: none;
}

@media(min-width: 60rem){
    .highlight {
	position: absolute;
	margin-left: 31rem;
    }
    .hidden-br {
	display: inline;
    }
}


.side-code {}

.container {
  max-width: 30rem;
  margin: 0 2rem;
  padding: 0 1rem;
}

html {
    font-size: 18px;
}